/* Properties which are inherited by the child element*/
body{
  color: white;
  text-align: center;
  line-height: 2;
}


/* Properties which are not inherited by the child element */
body{
  background-color: black;
  border: 1px solid gold;
  padding: 20px;
  margin: 20px;
}